<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Imprimante virtuelle</title>
</head>
<body style="display: flex;flex-direction: column;min-height: 100vh;">
<div id="page" style="flex-grow: 1;">
    <h1>État de l'imprimante:</h1>
    <ul>
        <li>En ligne</li>
        <li>Adresse de cette imprimante: {{host}}</li>
        <li>Ports d'impression: {{jetDirectPort}} (Jetdirect), 515 (lpd)</li>
        {%if debug == 'True'%}
            <li><b style="color:#8B0000">Mode débogage activé</b></li>
        {%endif%}
    </ul>
    
    <a href="/recus">Consulter la liste des reçus imprimés</a>
</div>
{% include 'footer.html' %}
</body>
</html>