<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Tous les reçus imprimés</title>
</head>
<body style="display: flex;flex-direction: column;min-height: 100vh;">
<div id="page" style="flex-grow: 1;">
    {%if receiptlist|length > 0 %}
    <h1>{{receiptlist|length}} recu{%if receiptlist|length > 1%}s{%endif%} disponible{%if receiptlist|length > 1%}s{%endif%}</h1>
        <ul id="receiptlist">
            {%for receipt in receiptlist%}
                <li><a href="/recus/{{receipt[0]}}">{{receipt[1]}}</a></li>
            {%endfor%}
        </ul>
    {% else %}
        <h1>Aucun reçu trouvé!</h1>
    {% endif %}
    {# a comment #}
</div>
{% include 'footer.html' %}
</body>
</html>